.info {
  color: grey;
  display: flex;
  gap: 1em;
}
a {
  text-decoration: none;
  color: black;
}

h2 {
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
}

span{
  font-size: 10pt;
  margin-top: 2px;
  margin-bottom: 6px;
}